**/bin
**/obj
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/**/Dockerfile*
**/**/docker-compose*
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/.toolstarget
.vs/
.vscode/
.idea/
*.user
*.suo
*.cache
*.docstates
*.userprefs
logs/
*.log
